{% extends 'base.html' %}

{% block content %}

<h2>{{place.name}}</h2>

<p>{{place.adresse}}</p>

<p>{{place.category}}</p>

<p>{{place.description}}</p>

<p>{{place.url}}</p>

{% now "Y-m-d" as todays_date %}

{% for activity in activities %}{% if todays_date > activity.date_start|date:"Y-m-d" %}

<h3>Déjà visité par</h3>

{% for activity in activities %}

{% if todays_date > activity.date_start|date:"Y-m-d" %}
<p>{% for visitor in activity.visitor.all %}<a href="{% url 'character-detail' visitor.id %}">{{visitor.first_name}} {{visitor.last_name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %} le {{activity.date_start}}</p>
{% endif %}
{% endfor %}

{% endif %}
{% endfor %}

{% for activity in activities %}{% if todays_date < activity.date_start|date:"Y-m-d" %}

<h3>Visites prévues</h3>

{% for activity in activities %}

{% if todays_date < activity.date_start|date:"Y-m-d" %}
<p>{% for visitor in activity.visitor.all %}<a href="{% url 'character-detail' visitor.id %}">{{visitor.first_name}} {{visitor.last_name}}</a>{% if not forloop.last %}, {% endif %}{% endfor %} le {{activity.date_start}}</p>
{% endif %}
{% endfor %}

{% endif %}
{% endfor %}



{% for transmission in transmissions %}

{{transmission.date}}

{% for vendeur in transmission.vendeur.all %}{{vendeur.first_name}} {{vendeur.last_name}}{% endfor %}
-> 
{% for acheteur in transmission.acheteur.all %}{{acheteur.first_name}} {{acheteur.last_name}}{% endfor %}

{% endfor %}

{% endblock %}