{% extends 'base.html' %}

{% block content %}

<h2>{{travel.title}}</h2>

{% if activities %}

<h3>Activités :</h3>

<table>
    
{% for activity in activities %}

<tr>

    <td>{{activity.category}}</td>
    <td>{{activity.adresse.libelle}}</td>
    <td>{{activity.adresse.street}} {{activity.adresse.numero}}, {{activity.adresse.code}} {{activity.adresse.city}}</td>
    <td>{{activity.date_start}}</td>
    <td>{{activity.date_end}}</td>

</tr>

{% endfor %}

</table>

{% else %}

{% endif %}

{% if travellers %}

<h3>Voyageurs :</h3>

{% for traveller in travellers %}
    
<p><a href="{% url 'character-detail' traveller.id %}">{{ traveller.first_name }} {{ traveller.last_name }}</a></p> 
    
{% endfor %}

{% else %}

{% endif %}

{% endblock %}