{% load static %}
<html>

    <head>
        <title>Project</title>
        <link rel="stylesheet" href="{% static 'login.css' %}">
    </head>
    
    <body>

{% block content %}

<div class="login">
    <h1>Connexion</h1>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-block btn-large">Se connecter</button>
    </form>
    <p><a href="{% url 'signup' %}">S'inscrire</a></p>
</div>
{% endblock %}

</body>
</html>