@import url('https://themes.googleusercontent.com/fonts/css?kit=dpiI8CyVsrzWsJLBFKehGpLhv3qFjX7dUn1mYxfCXhI');

  body {
    font-family: "Roboto", Arial, sans-serif;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

  h2 {
    padding-top:0pt;
    border-bottom-color:#000000;
    border-bottom-width:1pt;
    padding-bottom:2pt;
    line-height:1.0;
    border-bottom-style:solid;
    text-align:left;
	  color:#000000;
    font-weight:700;
    text-decoration:none;
    vertical-align:baseline;
    font-size:17pt;
    font-family:"Roboto";
    font-style:normal;
  }
  
  #header {
    line-height: 0;
    text-align: center;
  }
  
  .header-navigation1 {
    margin: 12px auto;
  }
  
  .header-navigation2 {
    font-size: 10px;
    padding: 0 30px;
    text-align: right;
  }
  
  .header-navigation2 a {
    border-bottom: none;
    line-height: 25px;
  }
  
  .header-navigation2 > ul {
    display: block;
  }
  
  .header-navigation2 > ul > li {
    display: inline-block;
    letter-spacing: 0.3px;
    line-height: 1.43;
    margin-left: 0;
    padding: 4px 10px;
    position: relative;
    text-transform: uppercase;
  }
  
  .site-title {
    display: inline-block;
    line-height: 0;
    margin: 0px auto 0;
  }
  
  .site-title p {
    font-family: "Cedarville Cursive", Helvetica Neue, Helvetica, Arial,
      sans-serif;
    font-size: 26px;
    letter-spacing: 1.2px;
    line-height: 1.19;
    margin: 0;
    padding: 10px 0 10px;
    text-align: center;
  }
  
  .site-title a {
    border-bottom: none;
  }
  
  .site-title .title-line {
    border-bottom: 1px solid #000;
    display: inline-block;
    margin: 3px auto;
    max-width: 75%;
    width: 370px;
    display: block;
    margin-top: 23px;
    width: 220px;
  }
  
  #site-navigation-menu > .nav-menu {
    display: inline-block;
  }
  
  #site-navigation-menu > .nav-menu li {
    display: inline-block;
    letter-spacing: 0.05em;
    line-height: 31px;
    margin: 0 0.938em;
    position: relative;
    text-transform: uppercase;
  }
  
  #site-navigation-menu > .nav-menu li a {
    border-bottom: none;
    display: inline-block;
    padding: 31px 0;
  }

  .main {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    text-align: center;
  }
  
  .post img {
    max-width: 20em;
    border-radius: 5px;
  }
  
  p.country {
    padding-top:5pt;
    padding-bottom:5pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left;
    color:#0008b0;
    font-weight:700;
    text-decoration:none;
    vertical-align:baseline;
    font-size:10.5pt;
    font-family:"Roboto";
    font-style:normal;
}
  
  p.depot {
    padding-top:5pt;
    text-indent:17pt;
    padding-bottom:5pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left;
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:10.5pt;
    font-family:"Roboto";
    font-style:normal;
  }
  
  p.serie {
    padding-top:5pt;
    text-indent:33pt;
    padding-bottom:5pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left;
    -webkit-text-decoration-skip:none;
    color:#000000;
    text-decoration:underline;
    text-underline-offset: 2px;
    vertical-align:baseline;
    text-decoration-skip-ink:none;
    font-style:normal;
    font-size:10.5pt;
    font-family:"Roboto";
    font-weight:400;
  }
  
  p.fond {
    padding-top:5pt;
    text-indent:50pt;
    padding-bottom:5pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left;
    color:#000000;
    font-weight:700;
    text-decoration:none;
    vertical-align:baseline;
    font-size:10.5pt;
    font-family:"Roboto";
    font-style:normal
  }
  
  p.document {
    padding-top:5pt;
    text-indent:66pt;
    padding-bottom:5pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left;
    font-size:10.5pt;
    font-family:"Roboto";
    color:#1155cc;
    font-weight:400
  }

  p.document.a {
    color:inherit;
    text-decoration:inherit
  }

  .document-localisation {
    position: fixed;
    left: 100px;
    top: 330px;
    height: 797px;
    width: 480px;
    z-index: 82;
  }
  
  .document-detail {
    position: fixed;
    left: 500px;
    top: 360px;
    height: 50%;
    width: 70%;
    overflow: hidden scroll;
    z-index: 81;
  }
  
  .heading-2 {
    max-width: 150px;
    font-size: 20px;
  }
  

  /* TABLES */

table td,table th{
    padding:0
}

table.travel{
  margin-left:auto;
  border-spacing:0;
  border-collapse:collapse;
  margin-right:auto
}

tr.title_travel{
  height:28pt
}

p.title_travel{
  color:#cc0000;
  font-weight:700;
  font-size:18pt;
  font-family:"Roboto";
  padding-top:11pt;
  padding-bottom:11pt;
  line-height:1.15;
  orphans:2;
  widows:2;
  text-align:center;
  text-transform: uppercase;
}

td.subtitles{
  border-right-style:solid;
  padding:5pt 5pt 5pt 5pt;
  border-bottom-color:#ffffff;
  border-top-width:0pt;
  border-right-width:0pt;
  border-left-color:#ffffff;
  vertical-align:top;
  border-right-color:#ffffff;
  border-left-width:0pt;
  border-top-style:solid;
  border-left-style:solid;
  border-bottom-width:0pt;
  border-top-color:#ffffff;
  border-bottom-style:solid;
  background-color:#cc0000;
}

p.subtitles{
  padding-top:0pt;
  padding-bottom:0pt;
  line-height:1.0;
  text-align:left;
  font-size:10.5pt;
  font-family:"Roboto";
  color:#ffffff;
  font-weight:700
}

tr.activity_date{
  height:20.5pt
}

td.activity_date{
  border-right-style:solid;
  padding:5pt 5pt 5pt 5pt;
  border-bottom-color:#ffffff;
  border-top-width:0pt;
  border-right-width:0pt;
  border-left-color:#ffffff;
  vertical-align:top;
  border-right-color:#ffffff;
  border-left-width:0pt;
  border-top-style:solid;
  border-left-style:solid;
  border-bottom-width:0pt;
  border-top-color:#ffffff;
  border-bottom-style:solid;
  background-color:#cccccc;
}

p.activity_date{
  padding-top:0pt;
  padding-bottom:0pt;
  line-height:1.0;
  text-align:center;
  -webkit-text-decoration-skip:none;
  color:#cc0000;
  font-weight:700;
  text-decoration:underline;
  vertical-align:baseline;
  text-decoration-skip-ink:none;
  font-size:10.5pt;
  font-family:"Roboto";
  font-style:normal
}

tr.activity{
  height:0pt
}

td.activity{
  border-right-style:solid;
  padding:5pt 5pt 5pt 5pt;
  border-bottom-color:#ffffff;
  border-top-width:0pt;
  border-right-width:0pt;
  border-left-color:#ffffff;
  vertical-align:top;
  border-right-color:#ffffff;
  border-left-width:0pt;
  border-top-style:solid;
  background-color:#cccccc;
  border-left-style:solid;
  border-bottom-width:0pt;
  border-top-color:#ffffff;
  border-bottom-style:solid
}

td.activity_category{
  border-right-style:solid;
  padding:5pt 5pt 5pt 5pt;
  border-bottom-color:#ffffff;
  border-top-width:0pt;
  border-right-width:0pt;
  border-left-color:#ffffff;
  vertical-align:top;
  border-right-color:#ffffff;
  border-left-width:0pt;
  border-top-style:solid;
  background-color:#cccccc;
  border-left-style:solid;
  border-bottom-width:0pt;
  border-top-color:#ffffff;
  border-bottom-style:solid
}

p.activity_category{
  padding-top:0pt;
  padding-bottom:0pt;
  line-height:1.0;
  text-align:left;
  color:#000000;
  text-decoration:none;
  vertical-align:baseline;
  font-size:10.5pt;
  font-family:"Roboto";
  font-style:normal;
}

td.activity_place{
  border-right-style:solid;
  padding:5pt 5pt 5pt 5pt;
  border-bottom-color:#ffffff;
  border-top-width:0pt;
  border-right-width:0pt;
  border-left-color:#ffffff;
  vertical-align:top;
  border-right-color:#ffffff;
  border-left-width:0pt;
  border-top-style:solid;
  border-left-style:solid;
  border-bottom-width:0pt;
  width:138pt;
  border-top-color:#ffffff;
  border-bottom-style:solid;
}

p.activity_place{
  padding-top:0pt;
  padding-bottom:0pt;
  line-height:1.0;
  text-align:left;
  color:#000000;
  font-weight:700;
  text-decoration:none;
  vertical-align:baseline;
  font-size:10.5pt;
  font-family:"Roboto";
  font-style:normal;  
}

td.activity_time{
  border-right-style:solid;
  padding:5pt 5pt 5pt 5pt;
  border-bottom-color:#ffffff;
  border-top-width:0pt;
  border-right-width:0pt;
  border-left-color:#ffffff;
  vertical-align:top;
  border-right-color:#ffffff;
  border-left-width:0pt;
  border-top-style:solid;
  border-left-style:solid;
  border-bottom-width:0pt;
  width:50pt;
  border-top-color:#ffffff;
  border-bottom-style:solid;
}

p.activity_time{
  padding-top:0pt;
  padding-bottom:0pt;
  line-height:1.0;
  text-align:left;
  color:#000000;
  font-weight:400;
  text-decoration:none;
  vertical-align:baseline;
  font-size:10.5pt;
  font-family:"Roboto";
  font-style:normal;
}

td.activity_adresse{
  border-right-style:solid;
  padding:5pt 5pt 5pt 5pt;
  border-bottom-color:#ffffff;
  border-top-width:0pt;
  border-right-width:0pt;
  border-left-color:#ffffff;
  vertical-align:top;
  border-right-color:#ffffff;
  border-left-width:0pt;
  border-top-style:solid;
  border-left-style:solid;
  border-bottom-width:0pt;
  width:200pt;
  border-top-color:#ffffff;
  border-bottom-style:solid;
}

p.activity_adresse{
  padding-top:0pt;
  padding-bottom:0pt;
  line-height:1.0;
  text-align:left;
  color:#000000;
  font-weight:400;
  text-decoration:none;
  vertical-align:baseline;
  font-size:10.5pt;
  font-family:"Roboto";
  font-style:normal;
}

td.activity_price{
  border-right-style:solid;
  padding:5pt 5pt 5pt 5pt;
  border-bottom-color:#ffffff;
  border-top-width:0pt;
  border-right-width:0pt;
  border-left-color:#ffffff;
  vertical-align:top;
  border-right-color:#ffffff;
  border-left-width:0pt;
  border-top-style:solid;
  border-left-style:solid;
  border-bottom-width:0pt;
  width:50pt;
  border-top-color:#ffffff;
  border-bottom-style:solid;
}

p.activity_price{
  padding-top:0pt;
  padding-bottom:0pt;
  line-height:1.0;
  text-align:right;
  color:#000000;
  font-weight:400;
  text-decoration:none;
  vertical-align:baseline;
  font-size:10.5pt;
  font-family:"Roboto";
  font-style:normal;
}

td.activity_traveller{
  border-right-style:solid;
  padding:5pt 5pt 5pt 5pt;
  border-bottom-color:#ffffff;
  border-top-width:0pt;
  border-right-width:0pt;
  border-left-color:#ffffff;
  vertical-align:top;
  border-right-color:#ffffff;
  border-left-width:0pt;
  border-top-style:solid;
  border-left-style:solid;
  border-bottom-width:0pt;
  width:200pt;
  border-top-color:#ffffff;
  border-bottom-style:solid;
}

p.activity_traveller{
  padding-top:0pt;
  padding-bottom:0pt;
  line-height:1.0;
  text-align:left;
  color:#000000;
  font-weight:400;
  text-decoration:none;
  vertical-align:baseline;
  font-size:10.5pt;
  font-family:"Roboto";
  font-style:normal;
}

td.activity_note{
  border-right-style:solid;
  padding:5pt 5pt 5pt 5pt;
  border-bottom-color:#ffffff;
  border-top-width:0pt;
  border-right-width:0pt;
  border-left-color:#ffffff;
  vertical-align:top;
  border-right-color:#ffffff;
  border-left-width:0pt;
  border-top-style:solid;
  border-left-style:solid;
  border-bottom-width:0pt;
  width:200pt;
  border-top-color:#ffffff;
  border-bottom-style:solid;
}

p.activity_note{
  padding-top:0pt;
  padding-bottom:0pt;
  line-height:1.0;
  text-align:left;
  color:#000000;
  font-weight:400;
  text-decoration:none;
  vertical-align:baseline;
  font-size:10.5pt;
  font-family:"Roboto";
  font-style:normal;
}

