@import url('https://themes.googleusercontent.com/fonts/css?kit=dpiI8CyVsrzWsJLBFKehGpLhv3qFjX7dUn1mYxfCXhI');

html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
  }
  
  body {
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  #header {
    line-height: 0;
    text-align: center;
  }
  
  .header-navigation1 {
    margin: 12px auto;
  }
  
  .header-navigation2 {
    font-size: 10px;
    padding: 0 30px;
    text-align: right;
  }
  
  .header-navigation2 a {
    border-bottom: none;
    line-height: 25px;
  }
  
  .header-navigation2 > ul {
    display: block;
  }
  
  .header-navigation2 > ul > li {
    display: inline-block;
    letter-spacing: 0.3px;
    line-height: 1.43;
    margin-left: 0;
    padding: 4px 10px;
    position: relative;
    text-transform: uppercase;
  }
  
  .site-title {
    display: inline-block;
    line-height: 0;
    margin: 0px auto 0;
  }
  
  .site-title p {
    font-family: "Cedarville Cursive", Helvetica Neue, Helvetica, Arial,
      sans-serif;
    font-size: 26px;
    letter-spacing: 1.2px;
    line-height: 1.19;
    margin: 0;
    padding: 10px 0 10px;
    text-align: center;
  }
  
  .site-title a {
    border-bottom: none;
  }
  
  .site-title .title-line {
    border-bottom: 1px solid #000;
    display: inline-block;
    margin: 3px auto;
    max-width: 75%;
    width: 370px;
    display: block;
    margin-top: 23px;
    width: 220px;
  }
  
  #site-navigation-menu > .nav-menu {
    display: inline-block;
  }
  
  #site-navigation-menu > .nav-menu li {
    display: inline-block;
    letter-spacing: 0.05em;
    line-height: 31px;
    margin: 0 0.938em;
    position: relative;
    text-transform: uppercase;
  }
  
  #site-navigation-menu > .nav-menu li a {
    border-bottom: none;
    display: inline-block;
    padding: 31px 0;
  }

  .main {
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    text-align: center;
  }
  
  .post img {
    max-width: 20em;
    border-radius: 5px;
  }
  
  p.country {
    padding-top:5pt;
    padding-bottom:5pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left;
    color:#0008b0;
    font-weight:700;
    text-decoration:none;
    vertical-align:baseline;
    font-size:10.5pt;
    font-family:"Roboto";
    font-style:normal;
}
  
  p.depot {
    padding-top:5pt;
    text-indent:17pt;
    padding-bottom:5pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left;
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:10.5pt;
    font-family:"Roboto";
    font-style:normal;
  }
  
  p.serie {
    padding-top:5pt;
    text-indent:33pt;
    padding-bottom:5pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left;
    -webkit-text-decoration-skip:none;
    color:#000000;
    text-decoration:underline;
    text-underline-offset: 2px;
    vertical-align:baseline;
    text-decoration-skip-ink:none;
    font-style:normal;
    font-size:10.5pt;
    font-family:"Roboto";
    font-weight:400;
  }
  
  p.fond {
    padding-top:5pt;
    text-indent:50pt;
    padding-bottom:5pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left;
    color:#000000;
    font-weight:700;
    text-decoration:none;
    vertical-align:baseline;
    font-size:10.5pt;
    font-family:"Roboto";
    font-style:normal
  }
  
  p.document {
    padding-top:5pt;
    text-indent:66pt;
    padding-bottom:5pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left;
    font-size:10.5pt;
    font-family:"Roboto";
    color:#1155cc;
    font-weight:400
  }

  p.document.a {
    color:inherit;
    text-decoration:inherit
  }

  .document-localisation {
    position: fixed;
    left: 100px;
    top: 330px;
    height: 797px;
    width: 480px;
    z-index: 82;
  }
  
  .document-detail {
    position: fixed;
    left: 500px;
    top: 360px;
    height: 50%;
    width: 70%;
    overflow: hidden scroll;
    z-index: 81;
  }
  
  .heading-2 {
    max-width: 150px;
    font-size: 20px;
  }
  

  /* TABLES */
 table {
  border-collapse: collapse;
  border-color: #ccc;
}

td {
  line-height: 16px;
  border-bottom: 1px solid #e8e8e8;
  vertical-align: top;
  padding: 8px;
}

th {
  font-weight: 600;
  text-align: left;
  line-height: 16px;
  border-bottom: 1px solid #e8e8e8;
  vertical-align: top;
  padding: 8px;
}
thead th, td {
  color: #666;
  background: #fff;
  border: none;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
thead th {
  padding: 5px 10px;
  line-height: normal;
  text-transform: uppercase;
  background: #f8f8f8;
}
thead th a:link, thead th a:visited {
  color: #666;
}
thead th.sorted .text {
  padding-right: 42px;
}
table thead th .text span {
  padding: 8px 10px;
  display: block;
}
table thead th .text a {
  display: block;
  cursor: pointer;
  padding: 8px 10px;
}
table thead th .text a:focus, table thead th .text a:hover {
  background: #e4e4e4;
}
