html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
  }
  
  body {
    margin: 0;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
  }
  
  a {
    border-bottom: 1px solid #000;
    color: inherit;
    text-decoration: none;
  }
  
  #header {
    line-height: 0;
    text-align: center;
  }
  
  .header-navigation1 {
    margin: 12px auto;
  }
  
  .header-navigation2 {
    padding: 0 30px;
    text-align: right;
  }
  
  .header-navigation2 a {
    border-bottom: none;
    line-height: 25px;
  }
  
  .header-navigation2 > ul {
    display: block;
  }
  
  .header-navigation2 > ul > li {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 1.43;
    margin-left: 0;
    padding: 4px 10px;
    position: relative;
    text-transform: uppercase;
  }
  
  .site-title {
    display: inline-block;
    line-height: 0;
    margin: 19px auto 0;
  }
  
  .site-title p {
    font-family: "Cedarville Cursive", Helvetica Neue, Helvetica, Arial,
      sans-serif;
    font-size: 26px;
    letter-spacing: 1.2px;
    line-height: 1.19;
    margin: 0;
    padding: 26px 0 20px;
    text-align: center;
  }
  
  .site-title a {
    border-bottom: none;
  }
  
  .site-title .title-line {
    border-bottom: 1px solid #000;
    display: inline-block;
    margin: 3px auto;
    max-width: 75%;
    width: 370px;
    display: block;
    margin-top: 23px;
    width: 220px;
  }
  
  #site-navigation-menu > .nav-menu {
    display: inline-block;
  }
  
  #site-navigation-menu > .nav-menu li {
    display: inline-block;
    letter-spacing: 0.05em;
    line-height: 31px;
    margin: 0 0.938em;
    position: relative;
    text-transform: uppercase;
  }
  
  #site-navigation-menu > .nav-menu li a {
    border-bottom: none;
    display: inline-block;
    padding: 31px 0;
  }

  .main {
    margin-left: 500px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    text-align: center;
  }
  
  .post img {
    max-width: 20em;
    border-radius: 5px;
  }
  
  p.country {
    font-variant-caps: small-caps;
    font-weight: bold;
    color: #0008b0;
  }
  
  p.depot {
    text-indent: 1.5em;
  }
  
  p.serie {
    text-decoration: underline;
    text-indent: 3em;
  }
  
  p.fond {
    text-indent: 4.5em;
    font-weight: bold;
  }
  
  p.document {
    text-indent: 6em;
  }
  
  .document-title {

  }

  .document-localisation {
    position: fixed;
    left: 100px;
    top: 330px;
    height: 797px;
    width: 480px;
    z-index: 82;
  }
  
  .document-detail {
    position: fixed;
    left: 500px;
    top: 360px;
    height: 50%;
    width: 70%;
    overflow: hidden scroll;
    z-index: 81;
  }
  
  .heading-2 {
    max-width: 150px;
    font-size: 20px;
  }
  

  /* TABLES */
 table {
  border-collapse: collapse;
  border-color: #ccc;
  font-size: 14px;
}
td {
  line-height: 16px;
  border-bottom: 1px solid #e8e8e8;
  vertical-align: top;
  padding: 8px;
}
th {
  font-weight: 600;
  text-align: left;
  line-height: 16px;
  border-bottom: 1px solid #e8e8e8;
  vertical-align: top;
  padding: 8px;
}
thead th, td {
  color: #666;
  background: #fff;
  border: none;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
thead th {
  padding: 5px 10px;
  line-height: normal;
  text-transform: uppercase;
  background: #f8f8f8;
}
thead th a:link, thead th a:visited {
  color: #666;
}
thead th.sorted .text {
  padding-right: 42px;
}
table thead th .text span {
  padding: 8px 10px;
  display: block;
}
table thead th .text a {
  display: block;
  cursor: pointer;
  padding: 8px 10px;
}
table thead th .text a:focus, table thead th .text a:hover {
  background: #e4e4e4;
}
