{% extends 'base.html' %}
{% block content %}

<div class="document-detail">
    <h2>{{document.title}}</h2>
    
    <h3>Transcription</h3>
    <p>{{ document.transcription }}</p>

    <h3>Note</h3>
    <p>{{ document.note }}</p>
    
    <h3>Utilisation</h3>
    <p>{{ document.event.traveller }} : {{ document.event.title }} - {{ document.event.date_start }}</p>
</div>
    <div class="document-localisation">
    <h3 class="heading-2">Où trouver ce document ?</h3>
    <p class="serie">{{ document.fond.serie.cote }} : {{ document.fond.serie.title }}</p>
    <p class="fond">{{ document.fond.cote }} : {{ document.fond.title }}</p>
    </div>
{% endblock %}